hr{
  width: 200px;
}
body{
  font-family: 'Source Sans Pro', 'Cabin', 'Neuton', serif;
}
h1{
  font-family: 'Satisfy', cursive;
}
h2{
  text-align: center;
  padding: 20px;
}
* {
    box-sizing: border-box;
}

/* this for top */
.top{
  background-color: #BFEAF5;
  color: #0D4C92;
  margin-top: -10px;
  overflow: hidden;
}
.topline{
  width: 90%;
  margin: 0 auto 0 auto;
  text-align: right;
}
.toplink{
  display:inline-block;
  /* specific how many px may cause display error in client */
}
.topline2{
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 20px;
  overflow: hidden;
  /* to cover the space area */
}
.topline2-img{
  width: 40%;
  float: left;
  text-align: center;
}
.top-img{
  border-radius:50%;
  width:150px;
  height:150px;
  margin: 0 auto 0 auto;
}
.top-text{
  width: 60%;
  float: left;

}
/* this for content */
.content-about-edu{
  width: 90%;
  margin: 0 auto 150px auto;
  /* 150px = distance between boxes */
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}
.edu-table{
  width: 40%;
  float: left;
  padding-left: 40px;
}
.edu-psdc{
  display: inline-block;
  width: 60%;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 50px;
}
.content-container{
  width: 90%;
  margin: 0 auto 150px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lang-text{
  width: 50%;
  margin: 0 auto 10px auto;
  text-align: left;
}
.container{
  margin: 0 auto 30px auto;
  width: 50%;
  background-color: #E3F6FF;
  border-radius: 10px;
  overflow: hidden;
}
.cont-text{
  width: 60%;
  display: inline-block;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  padding-right: 15px;
}
.cont-eng-mal{
  width: 40%;
  float: left;
  border-radius: 10px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: #A0C3D2;
}
.cont-man{
  border-radius: 10px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  width: 80%;
  background-color: #A0C3D2;
}

.int-box{
  width: 90%;
  margin: 0 auto 30px auto;
  text-align: center;
}
.interest-icon{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  border: 5px solid #EAC7C7;
}
.int-text{
  display: inline-block;
  position: relative;
  bottom: 50px;
  right: 20px;
}
.int-image{
  display: inline-block;
  margin-left: 20px;
}
.int-text2{
  display: inline-block;
  position: relative;
  bottom: 50px;
  left: 20px;
}
.int-image2{
  display: inline-block;
  margin-right: 20px;
}
.int-line{
  display: inline-block;
  position: relative;
  bottom: 50px;
}
/* this for bottom */
.bottom{
  background-color: #BFEAF5;
  color: #0D4C92;
  margin-bottom: -100px;
}
.contact{
  width: 90%;
  margin: 0 auto 0 auto;
}
.contact-left{
  width: 33%;
  float: left;
  text-align: left;
}
.contact-middle{
  width: 33%;
  float: left;
  text-align: center;
}
.contact-right{
  width: 33%;
  float: left;
  text-align: right;
}
.bottom-link{
  text-align: right;
  color:black;
}
.attribute{
  text-align: left;
  font-size: 16px;
}
